// Define variables for your color scheme

// For example:

$blue: #469AE0;
$gray: #000000;
$light-gray: #F4F4F4;

// KIDAROO COLORS //

$violet: #B39DDB;
// $green: #C2FA92;
$green: #73BC4F;
$yellow: #FCF582;
$orange: #FFBB73;
$red: #eb2737;
$navy: #496978;