// Define variables for your color scheme

// For example:

$blue: #469AE0;
$gray: #000000;
$light-gray: #F4F4F4;

// KIDAROO COLORS //


$logo: #AF9481;
$yellow: #FCF582;

// postmanbackgtound colors:
$red: #F67D72;
$navy: #496878;

$orange: #f99d78;
$navy: #496978;

$orange: #ffb181;

$green: #65C2BC; // it is more blue, but looks nice
$violet: #ea816f;
$violet-light: #ac7f84;
$yellowhite: #fff1d7;
$grey: #e7dfca;
$orange-pale: #FAB79C;
$navydark: #31315a;
