.super-wrapper {
	color: $navy;
	min-height: 100vh;
	.wrapper-activity-show-header,
	.wrapper-activity-show-footer {
		width: 50%;
		margin: 0 auto;
		.activity-header {
			height: 60vh;
			display: grid;
			grid-template-rows: 1fr 3fr;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				"title age"
				"description photo";
			.activity-title {
				grid-area: title;
				align-self: center;
			}
			.activity-age-group {
				grid-area: age;
				align-self: center;
				justify-self: end;
			}
			.activity-description {
				grid-area: description;
				padding: 20px 0;
			}
			.activity-photo {
				grid-area: photo;
				justify-self: end;
				background-size: cover;
				background-position: center center;
			}
		}

		.activity-event-provider {
			margin-top: 50px;
			height: 500px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: stretch;
		}
		.activity-event-provider-review {
			margin-top: 50px;
			height: 200px;
		}
	}

	.wrapper-activity-events {
		width: 100%;
		background: rgba(180,180,180,0.2);
		.activity-events {
			width: 50%;
			margin: 30px auto;
			height: 25%;
			padding: 8px 8px;
			.activity-events-header {
				display: grid;
				grid-template-columns: 1fr 3fr 1fr;
				background: white;
				margin-bottom: 5px;
				h4 {
				font-size: 16px;
				}
			}
			.activity-events-body {
				padding: 16px 0;
				margin-bottom: 5px;
				display: grid;
				justify-items: stretch;
				align-items: stretch;
				grid-template-columns: 1fr 3fr 1fr;
				grid-column-gap: 2px;
				.activity-events-body-date {
					background: white;
					padding: 5px 5px;
				}
				.activity-events-body-details {
					background: white;
					padding: 5px 5px;
				}
				.activity-events-body-button {
					background: white;
					border-radius: 2px;
					padding: 5px 5px;
					a:hover {
						text-decoration: none;
					}
					.activity-events-body-button-wrapper {
						background: $red;
						text-align: center;
						width: 150px;
						margin: 0 auto;
						.book-button {
							color: white;
				  		padding: 10px 10px;
				  		font-size: 16px;
				  		font-weight: bold;
				  		margin: 0;
						}
					}
				}
			}
		}
	}
}