.show_page_wrapper {
	color: $navy;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.wrapper_activity {
		p {
			font-size: 1.2rem;
			letter-spacing: 1px;
		}
		width: 50%;
		height: 50%;
		margin: 2rem auto;
		display: grid;
		grid-auto-rows: minmax(20%, 80%);
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		grid-row-gap: 2rem;
		.wrapper_activity_title {
      h1 {
        font-size: 40px;
        font-family: Helvetica;

      }
      i {
        font-size:30px;
      }

		}
    .wrapper_activity_share_button {
      // p {
      //   margin-top: 25px;
      //   margin-bottom: -20px;
      //   font-size: 20px;
      //   font-weight: bold;
      // }
    }
		.wrapper_activity_description {
      margin-right: 30px;
      h3 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: lighter;
        font-family: Helvetica;

      }
      p {
        font-size: 25px;
        font-family: Helvetica;
      }

		}
		.wrapper_activity_photo {
			background-size: cover;
			background-position: center center;
			height: 400px;
      border-radius: 15px;
		}
	}
	.event_container {
		p {
			padding: 1rem;
		}
		margin: 30px 0;
		padding-bottom: 1.5rem;
		width: 100%;
		background: rgba(180,180,180,0.2);
		display: grid;
		grid-template-rows: 50px;
		grid-auto-rows: 200px;
		.wrapper_event {
			margin: 0 auto;
			padding: 0.5rem;
			width: 60%;
			display: grid;
			grid-template-columns: 2fr 4fr 1fr 2fr;
			grid-gap: 0 5px;
			.wrapper_event_dates {
				display: grid;
				.wrapper_event_dates_text {
					display: none;
				}
			}
			.wrapper_event_details {
				display:grid;
				.wrapper_event_details_text {
					display: none;
				}
			}
      .wrapper_event_price {
        display: grid;
        .wrapper_event_price_text {
          display: none;
        }
      }
			.wrapper_event_button {
				text-align: center;
				display: grid;
				.wrapper_event_button_text {
					display: none;
				}

          }
				.main_info {
          background: white;
          border-radius: 5px;
          margin-bottom: 5px;
					.book-button {
            font-family: Helvetica;
						width: 60%;
						background: $red;
						border: none;
						color: white;
				  	padding: 10px 10px;
				  	font-size: 16px;
				  	font-weight: bold;
				  	margin: 10px 0;
				  	border-radius: 5px;
				  	&:hover {
				  		background: #f00;
				  	}
					}
				}
			}
		}
		.wrapper_event_header {
      p {
        font-size: 25px;
        font-weight: bold;
        font-family: Helvetica;
      }

		}
		.description {
      p {
        font-size: 20px;
        font-family: Helvetica;
      }
    }
    .price {
      p {
        font-size: 15px;
      }
    }

	.wrapper_info {
		width: 50%;
		display: flex;
		justify-content: space-between;
		.contact_details {

		}
		.map_details {
			background-size: cover;
			background-position: center center;
		}
	}
	.wrapper_review {
		width: 50%;
		text-align: center;
		padding: 2rem 0;
		p {
			font-size: 1.5rem;
			font-style: italic;
		}
	}
}

@media(max-width: 600px) {
	.show_page_wrapper {
		.wrapper_activity {
			width: 90%;
		}
		.event_container {
			.wrapper_event_header {
				display: none;
			}
			.wrapper-event {
				width: 100%;
			}
		}

	}
}

