.tabs {
  background: #192453;
  display: flex;
  padding: 10px 10px 0 10px;
  // border: 1px solid red;
  color: white;
}
.tabs a {
  color: #192453;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: $orange;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: $navydark;
}

.dashboard-content {
  background-color: $navydark;
  color: white;
}
.dashboard-main-content {
  color: white;
}

.result-image-dashboard {
  height: 200px;
  width: 300px;

}

.index-search-result-dashboard {
  border: 1px solid red;
}

.greeting-dashboard {
  padding: 30px;
}