
.payment-new-main-container {
  opacity: 0.7;
  background-color: $navy;
  color: white;
  color: white;
  text-align: center;
  height: calc(100vh-300px);
  background-image: asset-url("postman-hero.svg");
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 113% auto;
  height: 100vh;
}

.payment-new-card {
  background-color: #192453;
  padding: 35px;
  margin: 30px;
  height: 50vh;
  text-align: center;
  border: 1px solid white;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;

}

.payment-line {
  color: white;
}

