.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  // margin-bottom: 40px;
}
.content-container {
  max-width: 1100px;
  margin: 0 auto;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  overflow-x: hidden;
} 