
<li class='hidden' id="c-1">
	<div class="tab-pane" id="1b">
		<h3>Your details;</h3>
		<p> Your name: <%= @user.first_name %><br></p>
		<p> Your email: <%= @user.email %> <br></p>
		<p> You are a: <%= @user.role %> <br></p>
	</div>
</li>
