<div class="categories-container">
  <div class="container">
    <div class="col-xs-12 col-sm-4">

      <%= link_to "sports", activities_path(category: "Sports") %>
    
    </div>
  </div>
</div>


