<div class="footer">

 <div class="footer-newsletter">
  <h3>Subscripte to our newsletter</h3>
    <form>
      <div class="form-group">

        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <button type="submit" class="btn btn-primary">Submit</button>

      </div>
    </form>
  </div>

  <div class="footer-links">
    <p>Follow us</p>
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <a href="#"><p>Contact Us</p></a>
   <a href="#"><p>Be a Contributor</p></a>
   <a href="#"><p>Terms</p></a>
   <a href="#"><p>Privacy</p></a>
 </div>
 <div>
  <p>Kidaroo is all about kids.</p>
 </div>
</div>





