<% @activity.events.each do |event| %>
  <% event.reviews.each do |review| %>
  <div class="row center-block card-row">
    <div class="col-md-2">
    <%= cl_image_tag review.booking.user.avatar.path, :width=>150, :height=>150, :crop=>"scale" %>
    </div>
    <div class="col-md-9 col-xs-8">
      <div class="review_content">
        <h2 class="card-header"><%= review.booking.user.first_name %></h2>
        <p>
          <% @activity.average_rating.times do %>
          <i class="fa fa-star" style="color: #f99d78"></i>
          <% end %>
        </p>
      </div>
      <div class="card__body__short-text">
        <p class="card__body__text"><%= review.content %></p>
      </div>
    </div>
    </div>
  <% end %>
<% end %>


