
<div class="container">
  <h3> What our users think about us...</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <!-- Quote 1 -->
                        <div class="item active">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p> I just wanted to share a quick note and let you know that this website is simply amazing. It’s really great how easy is to book an activity, I never had any problem at all. It used to take me ages to find what to do with my kids but not anymore. Thanks, guys!</p>
                                        <small><strong>Ana, Paul, Richard and Marie</strong></small>
                                    </div>
                                </div>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>We are new in the city and didn’t know what to do but luckily we found Kidaroo! Coming from a warm country we quickly learnt to enjoy sunny days at maximum and Kidaroo gave us so many different options! We just wished the weekends to be longer to book more activities! Gracias! </p>
                                        <small><strong>Garcia's family</strong></small>
                                    </div>
                                </div>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>Absolutely amazing! Kidaroo saved our lives! From boring weekends at the park to super fun events around our area. We met so many families that now we all book events to go together! I recommend Kidaroo to every parent in Berlin!</p>
                                        <small><strong>Nicholas, Manel, Bella and Luis</strong></small>
                                    </div>
                                </div>
                        </div>
                        <!-- Quote 4 -->
                        <div class="item">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>You can find anything you need in Kidaroo, we have 3 kids of different ages and we found the perfect activity for each of them! We will definitely use Kidaroo again and again and again.</p>
                                        <small><strong>Claire, Peter and Matthew</strong></small>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                         <li data-target="#quote-carousel" data-slide-to="0" style="background-image: url('https://static1.squarespace.com/static/5392eee9e4b0f06b37cb3a9a/t/586f8cd446c3c4a1fe5ae134/1483705613157/Happy+family.jpg?format=1500w')">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1" style="background-image: url('http://www.dizzy.com/wp-content/uploads/lg-family-blue-1024x786.jpg')">
                        </li>
                         <li data-target="#quote-carousel" data-slide-to="2" style="background-image: url('https://img.wonkette.com/wp-content/uploads/2014/07/gay-dads-with-twins.jpg')">
                        </li>
                          <li data-target="#quote-carousel" data-slide-to="3" style="background-image: url('https://st3.depositphotos.com/1761942/15844/i/450/depositphotos_158440482-stock-photo-two-little-happy-kid-boys.jpg')">
                        </li>
                    </ol>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
