<div class="messager-wrapper">
  <div class="container text-center">

    <div class="grid">

      <div class="card-message profile-section">
          <div class="card-content">
            <img src="images/seb.jpeg" alt="" width="150" class="img-circle">
            <h2>Sebastien Saunier</h2>
            <p>CTO at Le Wagon</p>
            <a href="#" class="btn btn-lg btn-green">Get in touch</a>
        </div>
      </div>

      <div class="card-message contributions-section">
          <div class="card-content">
            <h3>3,536</h3>
            <p>contributions</p>
        </div>
      </div>

 

      <div class="card-message followers-section">
          <div class="card-content">
            <h3>758</h3>
            <p>followers</p>

        </div>
      </div>

      <div class="card-message repositories-section">
          <div class="card-content">
            <h3>119</h3>
            <p>repositories</p>
          </div>

      </div>

      <div class="card-message descr-section">

          <div class="card-content">
            <h3>More about Sebastien</h3>
            <p class="text-justify">
              I am a full-stack developer with 9 years of experience working in startups. Scratching your own itch? Working on a startup project? Lots of ideas but frustrated that you can't code them? Confused with agencies' or freelances' quotes? No clue when a developer is talking? Time to learn to code with Le Wagon with a 9-week intensive and immersive bootcamp!
            </p>

        </div>
      </div>
    </div>
  </div>
</div>