    <% content_for(:navbar_class, "navbar-home") %>
    <%= render 'shared/banner' %>

<div class="wrapper-filters">
    <div class="nl-blurred">
    	<div class="container demo-1">
    		<div class="main clearfix">
    			<%= form_tag(activities_path, method: "get", class: "nl-form", id: "") do %>
    			I am searching for <br>
    			<select id="category">
    				<option value="1" selected>any kind of activity</option>
    				<option value="2">sport activity</option>
    				<option value="3">learning challanges</option>
    				<option value="4">art activity</option>
    				<option value="2">some inspiration</option>
    			</select>
    			<br /> for my kid <br>
    			<select id="age_group">
    				<option value="1" selected>who is a toddler</option>
    				<option value="2">who is kindergarten age</option>
    				<option value="3">who is a school kid</option>
    				<option value="4">who is a teenager</option>
    				<option value="5">and our whole family</option>
    			</select>
    			<br />
    			<select id="address">
    				<option value="1" selected>anywhere in Berlin</option>
    				<option value="1">in Kreuzberg</option>
    				<option value="2">in Friedrishein</option>
    				<option value="3">in Charlottenburg</option>
    				<option value="4">in Prenzlauerberg</option>
    				<option value="5">in Mitte</option>
    				<option value="6">in Stegliez</option>
    				<option value="7">in Wilmersdorf</option>
    			</select>
    			<%#= text_field_tag(:title, nil, placeholder: 'title') %>
    			<br><%= submit_tag "find activity", class: "nl-submit" %> <%= image_tag "spaceman-right.svg", height: 70 %>
    			<% end %>

    		</div>
    	</div>
    </div>
</div>










