.banner {
  color: white;
  text-align: left;
  height: calc(100vh-300px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-image: asset-url("postman-hero.svg");
  // background-size: cover !important;
  // background-size: 100% auto;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 113% auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: -70px;
}
.banner h1 {
  font-size: 62px;
  font-weight: bold;
  text-shadow: 3px 5px rgba(0, 0, 0, 0.2);
}

.banner h3 {
  text-shadow: 3px 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  font-size: 25px;
  margin-bottom: 50px;
}


.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.nl-submit {
  font-family: Open Sans;
    background: #48677B;
    border-radius: 10px;

}
