// bootstrap customised
.btn-primary{
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  background: $red;
  font-weight: lighter;
  color: white;
  font-size: 20px;
  border: none;
}

.btn-primary:hover {
  background: #f00;
  border: none;
}


.search-button {
    padding: 0 20px;
    input[type="submit"] {
      padding: 5px 20px;
      font-size: 20px;
      color: white;
      background: #4A772F;
      border-radius: 4px;
      width: 150px;
      border: none;
      box-shadow: 0 0 10px rgba(52,188,4,0.2)
    }
  }

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}


.btn-treehouse {
  color: white;
  font-family: Varela Round;
  font-weight: bold;
  font-size: 25px;
  padding: 20px 30px;
  border-radius: 4px;
  font-weight: bold;
  background: #7199A2;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #55C7C0;
  text-decoration: none;
  color: white;
}
