.calendar-cell {
	// border: 2px solid red;
	padding: 30px 20px;
}

.calandar-section {
	text-align: left;
	background-color: $navy;
	color: $navy;
	padding-bottom: 20px;
	padding-top: 30px;
	height: 20em;
}

.calendar-list {
	display: grid;
	line-height: 2em;
}
