.calendar-cell {
	// border: 2px solid red;
	padding: 30px 20px;
}

.calandar-section {
	text-align: left;
	background-color: $yellowhite;
	color: $navy;
	padding: 20px;
	height: 30em;
}

.calendar-list {
	display: grid;
	line-height: 2em;
}