.category {
  width: 100%;
  height: 250px;
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

   a:hover {
    // color: $orange;
    text-decoration: none;
  }

  p {
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-shadow: 1px 2px $orange;
  }
 
}
.category-sports {
  background: linear-gradient($navy, transparent), asset-url("sports.jpg") center no-repeat;
  background-size: cover; 
}

.category-cooking {
  background: linear-gradient($navy, transparent), asset-url("cooking.jpg") center no-repeat;
  background-size: cover; 
}

.category-animals {
  background: linear-gradient($navy, transparent), asset-url("animals.jpg") center no-repeat;
  background-size: cover;  
}

.category-outdoor {
  background: linear-gradient($navy, transparent), asset-url("outdoor.jpg") center no-repeat;
  background-size: cover; 
}

.category-indoor {
 background: linear-gradient($navy, transparent), asset-url("indoor.jpg") center no-repeat;
  background-size: cover;   
}

.category-game {
background: linear-gradient($navy, transparent), asset-url("game.jpg") center no-repeat;
  background-size: cover;  
}

.category-art {
 background: linear-gradient($navy, transparent), asset-url("art.jpg") center no-repeat;
  background-size: cover; 
}

