.category {
  width: 100%;
  height: 250px;
  background-size: cover;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-weight: bold;
    color: $yellowhite;
    font-size: 40px;
    text-shadow: 1px 2px $orange;
  }
  a:hover {
    color: $orange;
  }
}
.category-sports {
  background-image: asset-url("sports.jpg");
}

.category-cooking {
  background-image: asset-url("cooking.jpg");  
}

.category-animals {
  background-image: asset-url("animals.jpg");  
}

.category-outdoor {
  background-image: asset-url("outdoor.jpg");  
}

.category-indoor {
  background-image: asset-url("indoor.jpg");  
}

.category-game {
  background-image: asset-url("game.jpg");  
}

.category-art {
  background-image: asset-url("art.jpg");  
}

