@media (max-width: 600px) {

  .grid-chat {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 100%;
    grid-template-rows:  1fr auto auto;

    .container {
      margin-right: 0;
      margin-left: 0;
      padding-left: 0px;
      padding-right: 0px;
    }


    .info-section {
      display: none;
    }

    .existing-messages {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }

    .chat-input-section {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }




    .card-content {
      .simple_form {
        display: flex;
      }
      .form-control {
        width: 228%;
      }
      .btn-primary {
        position: relative;
        left: 50%;
    // background-color: #4CCAAC; //  it must stand out to be viasble!!!! :::::: it is nicer than our navy - hover to check ;-) 
    background-color: #ea816f; //  it must stand out to be viasble!!!! :::::: it is nicer than our navy - hover to check ;-) 
    font-size: bold;
  }
  .btn-primary:hover {
   filter: brightness(1.1);
 }
}

}
}






@media (min-width: 992px) {

  .grid-chat {
   display: grid;
   margin-top: 40px;
   grid-template-columns: 1fr 2fr;
   grid-template-rows:  minmax(400px, auto) 0.8fr;
 }

 .info-section {
   grid-row: 1 / span 3;
   grid-column: 1 / span 1;
   padding: 150px;
 }

 .chat-input-section {
   grid-row: 2 / span 1;
   grid-column: 2 / span 1;
   padding: 30px;
   margin: 0px 0px;
 }


 .existing-messages {
   grid-row: 1 / span 1;
   grid-column: 2 / span 1;
 }

//

// .padded {
//   padding: 30px 0;
// }

.card-message {
	background: white;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	display: flex;
	justify-content: space-around;
	margin: 10px;
	flex-direction: column;
}

// .btn-green {
// 	background-color: #4CCAAC;
// 	color: white;
// }

.btn-green:hover {
	background-color: #37B686;
	color: white;
}



.messanger-activity-image {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0px;
	height: 100%;
  width: 100%;
  background-size: cover;
  filter: brightness(0.4);
  z-index: 0;
}

.chat-title {
	color: white;
	z-index: 1;
  text-shadow: 6px 4px 3px black; // look much better as our navy
}

.container-chat-image {
	flex: 0 0 45%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
}



.card-content {
  .simple_form {
    display: flex;
  }
  .form-control {
    width: 228%;
  }
  .btn-primary {
    position: relative;
    left: 50%;
    // background-color: #4CCAAC; //  it must stand out to be viasble!!!! :::::: it is nicer than our navy - hover to check ;-) 
    background-color: #ea816f; //  it must stand out to be viasble!!!! :::::: it is nicer than our navy - hover to check ;-) 
    font-size: bold;
  }
  .btn-primary:hover {
   filter: brightness(1.1);
 }
}














