// this footer is not being used == > footer_stealed

.footer {
  background: #F6B174; // $light-gray ?
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 300px;
  padding: 0px 120px;
  padding-top: 40px;
  padding-bottom: 40px;
  color:  black;
  position: absolute;
  width: 100vw;
  // bottom: 0;
  h3 {
    font-size: 20px;
  }
  a:hover {
    text-decoration: none;
  }
  a {
    // color: rgba(0,0,0,0.3);
    color: black;
  }
}

.footer-newsletter {

  p {
    padding: 100px;
  }

}

.footer-right {
  a {
  padding-right: 23px;
  }
}

.footer-center p{
  font-size: 14px;
  font-weight: lighter;
}

.footer-links {
  display: flex;
  // display: inline;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  margin-left: -8px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

/// form ///

.form-control {
  width: 70%;
  height: 50px;
  display: inline;
  padding-right: 10px;
  font-size: 20px;
  font-weight: lighter;
}
.p-stonger {
  // font-weight: bold;
  // font-size: 22px;
}
