<!-- <div class="wrapper-bootstrap-results">
<div class="container">
  <div class="row"> -->
  <div class="wrapper-index">
	<div class="index-search">
		<%= render 'activities_list', activities: @activities%>
	</div>
	<div
	id="map"
	data-markers="<%= @markers.to_json %>"
	></div>
</div>
</div>
<!-- </div> -->

